<!DOCTYPE html>
<html lang="en">
<head>
    <title> Instagram Video Downloader </title>
    <meta name="theme-color" content="#2b2d31">
    <meta property="og:site_name" content="Made by Chance#0002">
    <meta property="og:title" content="<%- insta.videos[ 0 ].description; %>" data-rh="true">
    <meta property="og:description" content="<%- insta.videos[ 0 ].description; %>" data-rh="true">
    <meta name="twitter:card" content="player">
    <meta name="twitter:title" content="By <%- insta.username; %>">
    <meta name="twitter:description" content="By <%- insta.videos[ 0 ].description; %>">
    <meta name="twitter:player:width" content="720">
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:player:stream" content="<%- `${insta.videos[ 0 ].url}`; %>">
    <meta name="twitter:player:stream:content_type" content="video/mp4">
    <meta name="twitter:image" content="<%- insta.videos[ 0 ].thumbnail; %>">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">
    <script src="https://unpkg.com/artplayer/dist/artplayer.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<h1 class="title"> Instagram Video Embeder </h1>
<h2 class="subtitle"> Made by Chance#0002</h2>
<p class="description">This API is designed to be used in Discord EX.
    https://instagramez.com/p/<%= insta.id; %> </p>

<div class="artplayer-container">
    <div class="artplayer-app"></div>
</div>

<div class="info-container">
    <p class="description"><%= insta.videos[ 0 ].description; %> </p>
    <span class="creator-name">Created by: <%- insta.username; %></span>
</div>

<script>
	function create_UUID() {
		var dt = new Date().getTime();
		var uuid = 'xxxxxxxxx'.replace(/[xy]/g, function (c) {
			var r = (dt + Math.random() * 16) % 16 | 0;
			dt = Math.floor(dt / 16);
			return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
		});
		return uuid;
	}

	var art = new Artplayer({
		container: '.artplayer-app',
		url: '<%- `${insta.videos[ 0 ].url}`; %>',
		cover: "<%- insta.videos[ 0 ].thumbnail; %>",
		fullscreen: false,
		fullscreenWeb: true,
		airplay: true,
		theme: '#cb71ff',
		controls: [
			{
				position: 'right',
				html: '<i class="fa-regular fa-download"></i>',
				index: 1,
				tooltip: 'Download',
				style: {
					fontSize: '20px',
					marginTop: '-1px',
					color: 'white',
					marginRight: '5px'
				},
				click: function () {
					fetch('<%- insta.videos[ 0 ].url; %>')
						.then(resp => resp.blob())
						.then(blob => {
							const url = window.URL.createObjectURL(blob);
							const a = document.createElement('a');
							a.style.display = 'none';
							a.href = url;
							// the filename you want
							a.download = `Instagram_EZ.${create_UUID()}.mp4`;
							document.body.appendChild(a);
							a.click();
							window.URL.revokeObjectURL(url);
							console.log('File '); // or you know, something with better UX...
						})
						.catch((err) => console.log(err));
				}
			}
		]
	});

</script>
</body>
</html>